@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Rate dinner every day and keep track of scores.</p>
    <p>Code repo: https://github.com/Smellen/dinnerApp</p>
</div>
